[submodule "test_data/designs"]
	path = test/designs
	url = https://github.com/librelane/librelane-ci-designs.git
[submodule "test/steps/openlane2-step-unit-tests"]
	path = test/steps/all
	url = https://github.com/librelane/librelane-step-unit-tests.git
